body {
background: #a53e76 ;
background: -webkit-linear-gradient(to right, #d4599d, #a53e76);
background: linear-gradient(to right, #d4599d, #a53e76);
 }
 
  h2 {
    color:#a53e76;
    padding-top: 80px;
    padding-bottom: 20px;
  }
  .col-md-5 img{
    box-shadow: 10px 10px 5px #a53e76 ; 
    padding-top: 10px 10px 10px 10px;
  }
  .carousel .carousel-indicators button {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  }
  .carousel-item img {
  width: 300px;
  height: 500px;
  object-fit: cover;
  }
  .carousel-caption p{
    background-color: rgba(224, 83, 125, 0.6);
    padding: 5px;
    border-radius: 6px;
    font-weight: bold;
  }
  .carousel-caption h5{
    background-color: rgba(224, 83, 125, 0.6);
    padding: 5px;
    border-radius: 6px;
    font-weight: bold;
  }
  .col-lg-4 img {
  object-fit: cover;
  margin: 0 auto;
  margin-top: 40px;
  margin-right: auto;
  width:200px;
  height:200px;
  border-radius: 100%;
  /* box-shadow: 10px 10px 5px #a53e76 ; */
  border: 5px solid #a53e76;
  
  }
  .marketing {
  text-align: center;
  }
  .container2  {
    text-align: center;
    background: #a53e76 ;
background: -webkit-linear-gradient(to right, #d4599d, #a53e76);  
background: linear-gradient(to right, #d4599d, #a53e76); 

  }
  .links img{
  height: 3%;
  width: 3%;
  }
  .btn {
    background-color:#a53e76; 
  }
  .lead {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  
  .fade-in-image {
    animation: fadeIn 5s;
  }
  @keyframes fadeIn {
      0% { opacity: 0; }
      100% { opacity: 1; }
  }
   .col-lg-4 img {
      transition: transform .2s;
      margin: 10 auto;
    }
    
    .col-lg-4 img:hover {
      -ms-transform: scale(1.5); 
      -webkit-transform: scale(1.5);
      transform: scale(1.5); 
    }
    .nav-item:hover {
      background-color: #a53e76;
    }
  
   
    
  